[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.dz9
Exec=/usr/bin/ru.auroraos.dz9
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=dz9
ExecDBus=/usr/bin/ru.auroraos.dz9
