[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.dz7
Exec=/usr/bin/ru.auroraos.dz7
Name=Notes
Name[ru]=Заметки

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=dz7
ExecDBus=/usr/bin/ru.auroraos.dz7
